
@{
    ViewBag.Title = "Index";
}

<h2>Calender</h2>

<!DOCTYPE html>
<div class="card-header">
    <h2 class="text-center">Calendar</h2>
</div>
<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Hours</th>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Hours</th>

            </tr>
        </thead>
        <tbody id="calendar-body">
            <tr>
                <td><strong>Starts</strong></td>
                <td>Math</td>
                <td>Math</td>
                <td>Science</td>
                <td>Science</td>
                <td>Science</td>
                <td>Science</td>
                <td>Science</td>
                <td>8.30</td>
            </tr>
            <tr>
                <td><strong>Ends</strong></td>
                <td>English</td>
                <td>Sports</td>
                <td>Sports</td>
                <td>Sports</td>
                <td>Math</td>
                <td>Math</td>
                <td>Math</td>
                <td>8.30</td>

            </tr>
            <tr>
                <td><strong>Starts</strong></td>
                <td>Math</td>
                <td>Math</td>
                <td>Chemistry</td>
                <td>Chemistry</td>
                <td>Chemistry</td>
                <td>Chemistry</td>
                <td>Sports</td>
                <td>15.30</td>
                

            </tr>
            <tr>
                <td><strong>Ends</strong></td>
                <td>English</td>
                <td>English</td>
                <td>English</td>
                <td>Computer Graphics</td>
                <td>Computer Graphics</td>
                <td>Computer Graphics</td>
                <td>Sports</td>
                <td>15.30</td>


            </tr>
        </tbody>
    </table>
</div>